@import url('https://fonts.googleapis.com/css?family=Overpass|Source+Sans+Pro');

$fontColor: #bfc2c5;
$panelColor: #293949;
$avatarColor: #1abc9c;
$avatarColorDark: #138e76;

body{
  min-width: 1200px;
  margin: 0;
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Overpass', sans-serif;
}

#panel{
  z-index: 1001;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  background: $panelColor;
  color: $fontColor;
  box-shadow: 3px 0px 10px $panelColor;
  #account{
    width:100%;
    height:200px;
    border-bottom: 1px solid $fontColor;
    background: $avatarColor;
    color: $panelColor;
    position: relative;
    #avatar{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      border-radius: 100%;
      width: 150px;
      height: 150px;
      background: url('../img/avatar.jpg') no-repeat;
      background-position: 50% 0%;
      background-size: cover;
    }
    span{
      position: absolute;
      bottom: 5px;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
  }
  #menu{
    width:100%;
    height: auto;
    ul{
      padding: 0;
      width: 100%;
      list-style: none;
      a{
        color: inherit;
        li{
          width: 100%;
          padding: 20px 40px;
          font-size: 15px;

          transition: background 0.2s linear 0s;
          cursor: pointer;
          i{
            position: absolute;
            left: 15px;
          }
          &:hover{
            background: #1c2733;
          }
        }
        &:hover, &:focus{
          text-decoration: none;
        }
      }
      hr{
        width: 100%;
        margin: 0;
      }
    }
  }
}

#cockpit{
  width: calc(100% - 250px);
  position: absolute;
  left: 250px;
  padding: 10px 20px;
  .pageTemplate{
    text-align: center;
    width: 100%;
    @import "dashboard";
    @import "employees";
    @import "jobs";
    @import "attendance";
    @import "holidays";
  }
}

//ANIMATION NG
/* The starting CSS styles for the enter animation */
.lol.ng-enter {
  transition: all 0.2s linear;
  transition-delay: 0.2s;
  transform: translateX(100%);
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.lol.ng-enter.ng-enter-active {
  transform: translateX(0%);
  opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */
.lol.ng-leave {
  transition: all 0.2s linear;
  transform: translateX(0%);
  opacity: 1;
}
.lol.ng-leave.ng-leave-active {
  transform: translateX(-100%);
  opacity: 1;
}
