@import url('https://fonts.googleapis.com/css?family=Overpass|Source+Sans+Pro');

$fontColor: #bfc2c5;
$panelColor: #293949;
$avatarColor: #1abc9c;

body{
  margin: 0;
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Overpass', sans-serif;
}

#panel{
  width: 20%;
  min-width: 250px;
  max-width: 400px;
  height: 100%;
  position: fixed;
  left: 0;
  background: $panelColor;
  color: $fontColor;
  box-shadow: 3px 0px 10px $panelColor;
  #account{
    width:100%;
    height:200px;
    border-bottom: 1px solid $fontColor;
    background: $avatarColor;
    color: $panelColor;
    position: relative;
    #avatar{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      border-radius: 100%;
      width: 150px;
      height: 150px;
      background: url('../img/avatar.jpg') no-repeat;
      background-position: 50% 0%;
      background-size: cover;
    }
    span{
      position: absolute;
      bottom: 5px;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
  }
  #menu{
    width:100%;
    height: auto;
    ul{
      padding: 0;
      width: 100%;
      list-style: none;
      a{
        color: inherit;
        li{
          width: 100%;
          padding: 20px 40px;
          font-size: 15px;
          cursor: pointer;
          i{
            position: absolute;
            left: 15px;
          }
          &:hover{
            background: #1c2733;
          }
        }
        &:hover, &:focus{
          text-decoration: none;
        }
      }
      hr{
        width: 100%;
        margin: 0;
      }
    }
  }
}

#cockpit{
  width: 80%;
  height: 100%;
  margin-left: 20%;
  padding: 10px 20px;
  .component{
    background: #eee;
    box-shadow: 0px 0px 3px #293949;
    width:300px;
    height: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    button{
      z-index: 1001;
    }
    #base{
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .componentLong{
    background: #eee;
    box-shadow: 0px 0px 3px #293949;
    width:610px;
    height: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
}
