  <div class="col-sm-6 col-md-4">
    <div class="comp">
      <h2>Candidates / job offer</h2>
      <canvas chart-options="options" class="chart chart-bar" chart-data="cp1.data" chart-labels="cp1.cities"
      chart-series="cp1.try" chart-click="onClick" chart-colors="cp1.colors" width="280" height="280"></canvas>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="comp">
      <h2>Sick day / month </h2>
      <canvas chart-options="options" class="chart chart-line" chart-data="cp2.data" chart-labels="cp2.cities"
      chart-series="cp2.try" chart-click="onClick" chart-colors="cp2.colors" width="280" height="280"></canvas>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="comp">
      <h2>Employees in departments</h2>
      <canvas chart-options="cp4.options" width="220" height="220" id="base" class="chart-base" chart-type="cp4.type"
      chart-data="cp4.data" chart-labels="cp4.labels" chart-colors="cp4.colors" >
      </canvas>
      <button class="btn" ng-click="cp4.toggle()">Toggle</button>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="comp textarea">
      <textarea placeholder="Anything to write down?" draggable="false"></textarea>
    </div>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="comp">
      <h2>Number of employees in years</h2>
      <canvas chart-options="options" id="base" class="chart-bar"
      chart-data="cp3.data" chart-labels="cp3.cities" chart-colors="cp3.colors"
      chart-dataset-override="cp3.datasetOverride" width="600" height="280">
      </canvas>
    </div>
  </div>
