<div id="employees"><i class="fa fa-search" aria-hidden="true"></i><input type="text" ng-model="globalSearch"  placeholder="ex. John Smith"/></div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees | filter: globalSearch">
        <td>{{employee.name}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.mail}}</td>
        <td>{{employee.dep}}</td>
      </tr>
    </tbody>
  </table>
