<div id="jobs">
  <div class="job-offer">
  <h2>Project controller</h2>
  <span>Posted on Jun 10, 2017 14:32</span>
  <ul>
    <li>Job description</li>
    <li>Candidates</li>
    <li>Hiring for <b>Joh Smith</b></li>
  </ul>
  </div>
  <div class="job-offer">
  <h2>Front-end developer</h2>
  <span>Posted on Jun 10, 2017 14:32</span>
  <ul>
    <li>Job description</li>
    <li>Candidates</li>
    <li>Hiring for <b>Joh Smith</b></li>
  </ul>
  </div>
  <div class="job-offer">
  <h2>Project manager</h2>
  <span>Posted on Jun 10, 2017 14:32</span>
  <ul>
    <li>Job description</li>
    <li>Candidates</li>
    <li>Hiring for <b>Joh Smith</b></li>
  </ul>
  </div>
  <div class="job-offer">
  <h2>Project manager</h2>
  <span>Posted on Jun 10, 2017 14:32</span>
  <ul>
    <li>Job description</li>
    <li>Candidates</li>
    <li>Hiring for <b>Joh Smith</b></li>
  </ul>
  </div>
</div>
